PORT=3000
NODE_ENV=production
SESSION_SECRET=change-this-to-a-long-random-secret
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change-this-password
SOURCE_SPREADSHEET_ID=1LsWHMcYvzfURbgU9wZBR8uXY0mjoK1PYxqwWw_50KKM
SOURCE_SHEET_NAME=الورقة2
CACHE_SECONDS=180
